.gmailbuttoncontainer{
    display: flex;
    align-items: center;
    width: 29rem;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
    position: relative;
    overflow: hidden;
    max-width: 90vw;
}
.icon_container, .mail_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0rem;
}
.mail_icon{
    transform: scale(1.2);
}
.icon_container{
    flex-basis: 9rem;
}
.mail_container{
    border-left: 0.5px solid rgba(255, 255, 255, 0.1);
    flex-basis: auto;
}
.mail_container > span{
    font-weight: 600;
    font-size: 1.02rem;
}
.gmailbuttoncontainer:hover{
    transition: all 0.3s;
    color: black;
}
.gmailbuttoncontainer:hover .mail_container{
    border-left: 0.5px solid rgba(0, 0, 0, 0.5);
}
.gmailbuttoncontainer::before{
    content: '';
    transition: all 0.3s;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: white;
}
.gmailbuttoncontainer:hover::before{
    left: 0
}