@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;    
    background-color: #171717;
    overflow-x: hidden;
}
.navbar{
    position: fixed;
    height: 102vh;
    width: 110px;
    display: flex;
    flex-direction: column;
    background-color: #171717;
    border-right: 1px solid #303030;
    border-left: 1px solid #303030;
    z-index: 2;
}

.navbar_first_section, .navbar_second_section{
    display: flex;
    flex-direction: row-reverse;
}
.navbar_first_section{
    padding: 3rem 0rem;
    display: flex;
    flex-basis: 75%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.logo_text{
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    border: 3px solid white;
    border: 3px solid white;
    border-radius: 50%;
    padding: 2px 12px;
}
.logo_text:hover{
    transition: all 0.2s;
    border: 3px solid rgb(218, 216, 216);
}
.hamburger_outer{
    margin-bottom: 9rem;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.hamburger_lines{
    width: 25px;
    border-top: 2px solid white;
    transition: all 0.2s;
}
.hamburger_outer:hover > #line1{
    transform: translate(10px);
}
.hamburger_outer:hover > #line2{
    transform: translate(-10px);
}
.navbar_second_section{
    border-top: 1px solid #303030;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
}
.navbar_second_section:hover{
    transition: all 0.4s;
    background-color: white;
}
.navbar_second_section:hover .work_with_me{
    transition: all 0.4s;
    color: black;
}
.work_with_me{
    font-size: 1rem;
    position: absolute;
    width: 200px;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    transform: rotate(-90deg);
    padding-left: 1rem;
    text-decoration: none;

}

.navbar_dropdown{
    position: fixed;
    margin: 0 0;
    padding-left: 20vh;
    left: 13.3vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 15rem;
    background-color: #765CFF;
    margin-left: 0%;
    width: 100vw;
    height: 102vh;
    z-index: 1;
    flex-wrap: wrap;

}
.links_outer{
    display: flex;
    gap: 6rem;
    flex-direction: column;
}
.navbar_dropdown li{
    list-style: none;
}
.link{
    text-decoration: none;
}
.navbar_dropdown li:hover a{
    color: rgb(73, 70, 70);
    transition: all 0.3s;
}
.navbar_dropdown div span, .navbar_dropdown div li a{
    text-decoration: none;
    color: black;
    font-size: 4rem;
}
.navbar_dropdown div span{
    font-size: 1rem;
}
@media only screen and (max-width: 1200px) {
    .navbar{
        position: relative;
        flex-direction: row;
        height: 90px;
        width: 100vw;
        border-top: 1px solid #303030;
        border-bottom: 1px solid #303030;
        z-index: 2;
    }
    .navbar_first_section{
        flex-direction: row;
        flex-basis: 100%;
        padding: 0rem 5%;
    }
    .hamburger_outer{
        margin-bottom: 0rem;
    }
    .navbar_second_section{
        display: none;
    }
    .navbar_dropdown{
        position: fixed;
        top: 0px;
        margin: 0 0;
        padding-left: 0vh;
        left: 0vh;
        justify-content: center;
        flex-direction: row;
        gap: 10rem;
        width: 80vw;
        height: 100vh;
        z-index: 100000;
    }
  }
@media only screen and (max-width: 700px){
    .navbar_dropdown{
        flex-direction: column;
        gap: 2.5rem;
        margin: 0 0;
        height: 100vh
    }
    .links_outer{
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        width: 15rem;
    }
    .navbar_dropdown div li a{
        font-size: 2rem;
    }
    .navbar_dropdown div span{
        display: none;
    }
} 