.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 4rem 0rem;
}
section{
    display: flex;
}
.section, .center{
    display: flex;
    position: relative;
    gap: 2rem;
    align-items: center;
    padding: 2rem 4rem;
    border-top: 0.5px solid rgba(255, 255, 255, 0.1);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
}
.center{
    padding: 2rem 6rem;
}
.center > span{
    font-weight: 700;
}
.section:hover > *{
    color: rgb(172, 166, 166)
}
.section::before{
    content: '';
    position: absolute;
    height: 70%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-left: 0.5px solid rgba(255, 255, 255, 0.1);
}
.section:nth-child(2)::before{
    display: none;
}
.icons{
    transform: scale(1.3)
}