@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;    
}
.container{
    position: absolute;
    box-sizing: border-box;
    margin-left: 200px;
    width: calc(100vw - 219px);
    min-height: 100vh;


}
@media only screen and (max-width: 1200px){
    .container{
        position: relative;
        margin: 0px 0px;
        width: 100vw;
        padding: 0rem 5%;
    }
}